<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>recentQuery</key>
	<array>
		<string>카카오뱅크</string>
		<string>카카오뱅ㅋ</string>
		<string>카카오뱅</string>
		<string>카카오뱅쿠</string>
		<string>카카오뱅킹</string>
		<string>카카오뱅크 - 같지만 다른 은행</string>
	</array>
</dict>
</plist>
